services:
  mongodb:
    image: 'mongo:latest'
    environment:
      - 'MONGO_INITDB_DATABASE=brainstorm_agent'
      - 'MONGO_INITDB_ROOT_USERNAME=myuser'
      - 'MONGO_INITDB_ROOT_PASSWORD=secret'
    ports:
      - '27017:27017'
    volumes:
      - 'mongodb_data:/data/db'
  cassandra:
    image: cassandra:latest
    ports:
      - '9042:9042'

volumes:
  mongodb_data: