services:
  postgres:
    image: 'postgres:16'
    restart: unless-stopped
    environment:
      - 'POSTGRES_PASSWORD=postgres'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432'
    volumes:
      - ./postgresql/init.sql:/docker-entrypoint-initdb.d/init.sql

  redis:
    image: 'redis:7.4'
    restart: unless-stopped
    ports:
      - '6379'

  kafka:
    image: 'apache/kafka:3.8.1'
    ports:
      - '9092:9092'
    restart: unless-stopped
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
      KAFKA_LISTENERS: 'PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'

  apicurio-registry:
    image: 'apicurio/apicurio-registry:3.0.6'
    ports:
      - '8081:8080'
    restart: unless-stopped
    environment:
      REGISTRY_STORAGE_KIND: 'inmemory'
    depends_on:
      - kafka

  apicurio-registry-ui:
    image: 'apicurio/apicurio-registry-ui:3.0.6'
    ports:
      - '8082:8080'
    restart: unless-stopped
    environment:
      REGISTRY_API_URL: 'http://apicurio-registry:8080/apis/registry/v2'
    depends_on:
      - apicurio-registry

  kafka-ui:
    image: 'provectuslabs/kafka-ui:v0.7.2'
    ports:
      - '8083:8080'
    restart: unless-stopped
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
      KAFKA_CLUSTERS_0_NAME: 'local'
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: 'kafka:29092'
      KAFKA_CLUSTERS_0_SCHEMAREGISTRY: 'http://apicurio-registry:8080/apis/ccompat/v7'
    depends_on:
      - kafka
      - apicurio-registry

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.7
    container_name: keycloak
    command:
      - start-dev
      - --import-realm
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: postgres
#      KC_HEALTH_ENABLED: true
#      KC_METRICS_ENABLED: true
      KC_HTTP_PORT: 8080
    ports:
      - "8180:8080"
    volumes:
      - ./keycloak-config/realm-export.json:/opt/keycloak/data/import/realm-export.json:ro
    depends_on:
      - postgres
    restart: unless-stopped
#    healthcheck:
#      test: ["CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/8080;echo -e 'GET /health/ready HTTP/1.1\r\nhost: http://localhost\r\nConnection: close\r\n\r\n' >&3;if [ $? -eq 0 ]; then echo 'Healthcheck Successful';exit 0;else echo 'Healthcheck Failed';exit 1;fi;"]
#      interval: 10s
#      timeout: 5s
#      retries: 3
#      start_period: 90s

#  postgres-keycloak:
#    image: postgres:16
#    container_name: postgres-keycloak
#    environment:
#      POSTGRES_DB: keycloak
#      POSTGRES_USER: keycloak
#      POSTGRES_PASSWORD: keycloak
#    ports:
#      - "5433:5432"
#    restart: unless-stopped
#    healthcheck:
#      test: ["CMD-SHELL", "pg_isready -U keycloak"]
#      interval: 10s
#      timeout: 5s
#      retries: 5
